.dbtn-validate-credentials + .spinner {
	margin: 4px 6px 0;
	float: none;
}

.dbtn-validation-status {
	display: inline-block;
	margin-left: 2px;
	font-weight: 600;
	vertical-align: middle;
}

.dbtn-validation-status.is-success {
	color: #008a20;
}

.dbtn-validation-status.is-error {
	color: #b32d2e;
}

.dbtn-turnstile-validation-widget {
	position: fixed;
	z-index: 100000;
	right: 20px;
	bottom: 20px;
}
